/**** MENU CSS ****/

.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu .toggle-btn{
    position: absolute;
    top: 0;
    left:0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .menu .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  
  .menu .hamburger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
  }

